.batalkan-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.batalkan-container2 {
  width: 100%;
  height: 776px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('../images/snapedit-1749544585905-jpeg.png');
  background-repeat: no-repeat;
  background-position: top;
}
.batalkan-container3 {
  top: 421px;
  right: 0px;
  width: 100%;
  height: 270px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.batalkan-form {
  top: 58px;
  left: 0px;
  right: 0px;
  width: 295px;
  height: 206px;
  margin: auto;
  display: flex;
  position: absolute;
}
.batalkan-textarea {
  top: 22px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 92px;
  margin: auto;
  position: absolute;
}
.batalkan-button {
  top: 134px;
  fill: var(--dl-color-theme-secondary1);
  left: 0px;
  color: var(--dl-color-theme-secondary1);
  right: 0px;
  width: 100%;
  height: 44px;
  margin: auto;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #0e0c0c;
  border-width: 0px;
  background-color: #0043A6;
}
.batalkan-text {
  top: -8px;
  fill: var(--dl-color-theme-neutral-dark);
  left: 0px;
  color: var(--dl-color-theme-neutral-dark);
  right: 0px;
  margin: auto;
  position: absolute;
  font-style: normal;
  font-weight: 700;
}