.home-container1 {
  width: 100%;
  display: flex;
  min-height: 10vh;
  align-items: center;
  flex-direction: column;
}
.home-container2 {
  width: 100%;
  height: 400px;
  margin-top: -100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}


.home-slider-pagination {
  display: block;
}
.home-slider-button-prev {
  display: none;
}
.home-slider-button-next {
  display: none;
}
.home-container3 {
  width: 90%;
  height: 122px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text10 {
  top: 17px;
  left: 3px;
  color: var(--dl-color-theme-neutral-dark);
  margin: auto;
  position: absolute;
  padding-top: var(--dl-space-space-halfunit);
}
.home-text12 {
  font-style: normal;
  font-weight: 600;
}
.home-text13 {
  font-style: normal;
  font-weight: 600;
}
.home-text14 {
  font-style: normal;
  font-weight: 600;
}
.home-text16 {
  font-size: 12px;
}
.home-text17 {
  font-size: 12px;
}
.home-text18 {
  font-size: 12px;
}
.home-container4 {
  width: 80%;
  height: 22px;
  border-radius: 50px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: flex-end;
}
.home-navlink1 {
  top: 0px;
  fill: var(--dl-color-theme-primary2);
  left: 0px;
  color: #ffffff;
  right: 0px;
  border-radius: 30px;
  height: 45px;
  line-height: 10px; 
  margin: auto;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #0a0a0a;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  background-color: #0043A6;
}
.home-navlink2 {
  top: 71px;
  fill: var(--dl-color-theme-primary2);
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  border-radius: 30px;
  height: 45px;
  line-height: 10px; 
  margin: auto;
  position: absolute;
  box-shadow: rgb(10, 10, 10) 5px 5px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  background-color: #0043A6;
}
.home-navlink3 {
  top: 144px;
  fill: var(--dl-color-theme-primary2);
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  border-radius: 30px;
  height: 45px;
  line-height: 10px; 
  margin: auto;
  position: absolute;
  box-shadow: rgb(10, 10, 10) 5px 5px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  background-color: #0043A6;
}
.home-navlink4 {
  top: 220px;
  fill: var(--dl-color-theme-primary2);
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  border-radius: 30px;
  height: 45px;
  line-height: 10px; 
  margin: auto;
  position: absolute;
  box-shadow: rgb(10, 10, 10) 5px 5px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  background-color: #0043A6;
}